/* animation.css */

/* Define CSS for sliding animation */
.filter-drawer-enter {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.filter-drawer-enter-active {
    transform: translateX(0%);
}

.filter-drawer-exit {
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
}

.filter-drawer-exit-active {
    transform: translateX(100%);
}
