/* Dashboard.css */

/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #ddd; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Radius of the scrollbar thumb */
}

/* Firefox */
::-moz-scrollbar {
    width: 8px;
}

::-moz-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

/* For Microsoft Edge */
::-ms-scrollbar {
    width: 8px;
}

::-ms-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}
