.toggle-container {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    position: relative;
    display: inline-block;
    width: 30px; /* Adjust the width of the toggle switch */
    height: 14px; /* Adjust the height of the toggle switch */
  }
  
  .toggle-inner {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 7px; /* Adjust the border-radius to match the height */
    transition: background-color 0.3s;
  }
  
  .toggle-switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust the width of the toggle switch */
    height: 100%;
    background-color: white; /* Sets the background color to white by default */
    border-radius: 7px; /* Adjust the border-radius to match the height */
    transition: transform 0.3s, background-color 0.3s; /* Added background-color transition */
  }
  
  .toggle-checkbox:not(:checked) + .toggle-label .toggle-switch {
    border: 1px solid #999; /* Add border styling only when unchecked */
  }
  
  .toggle-checkbox:checked + .toggle-label .toggle-switch {
    transform: translateX(100%);
    background-color: #831b1c; /* Sets the color to #831B1C when checked */
    border: none; /* Remove border when checked */
  }
  
  .toggle-text {
    margin-left: 8px;
    color: #352D2D; 
  }
